@import "./variables.css";

html,
body {
	height: 100vh;
	margin: 0;
	overflow-x: hidden;
	font-size: 16px;
}

.page-grid {
	height: 100%;

	.mantine-Grid-inner {
		height: 100%;
		margin: 0;
	}

	@media screen and (max-width: $mantine-breakpoint-sm) {
		margin-top: var(--mobile-nav-height);
	}
}

.image-dimmed {
	filter: brightness(0.85) grayscale(0.3);
}

.image-dimmed-more {
	filter: brightness(0.75) grayscale(0.4);
}

.image-fill {
	height: 100%;
	object-fit: cover;
}

.text-no-wrap {
	white-space: nowrap;
}

a:not(.mantine-Button-root):not([class*="navLink"]),
&:visited {
	color: var(--mantine-color-sage-4);
	cursor: pointer;
	text-decoration: none;

	&:hover,
	&:active {
		color: var(--mantine-color-sage-1);
		text-decoration: underline;
	}
}
