.navLinkRoot {
	--nl-bg: transparent;
	border-left: 1px solid transparent;
	font-style: italic;

	&[data-active] {
		border-left: 1px solid var(--mantine-primary-color-filled);
	}

	&:hover {
		border-left: 1px solid var(--mantine-primary-color-light);
	}
}

.input {
	--input-bg: transparent;
	--input-fz: var(--mantine-font-size-md);

	border: 0;
	border-bottom: 1px solid var(--mantine-primary-color-filled);

	&::placeholder {
		color: var(--mantine-primary-color-filled);
	}
}

.inputWrapper {
	&label {
		color: red;
	}
}

.loaderSpin {
	width: 20vw;
	transform: rotateY(45deg);
	animation: rotateAnimation 2s cubic-bezier(0.87, 0, 0.13, 1) 0s 1 normal
		forwards;
}

@keyframes rotateAnimation {
	from {
		opacity: 0;
		transform: rotateY(0deg);
	}
	to {
		opacity: 1;
		transform: rotateY(-360deg);
	}
}
