:root {
	--mantine-color-error: #c36363;
	--nl-bg: transparent !important;
	--button-hover: var(--mantine-primary-color-5);
	--desktop-nav-height: 5.5rem;
	--mobile-nav-height: 5rem;
	/* --mantine-color-dark-0	#C9C9C9	 */
	/* --mantine-color-dark-1	#b8b8b8	
--mantine-color-dark-2	#828282	
--mantine-color-dark-3	#696969	 */
	--mantine-color-dark-4: #676f81;
	/* --mantine-color-dark-5	#3b3b3b	*/
	--mantine-color-dark-6: #262925;
	/* --mantine-color-dark-7	#242424	
	--mantine-color-dark-8	#1f1f1f	
	--mantine-color-dark-9 */
}
