.nav {
	background-color: transparent;
	/* margin-bottom: var(--mantine-spacing-md); */
	top: -1px;
	width: 100%;
	z-index: 9999;

	&.isPinned {
		background-color: var(--mantine-color-blue-9);
		/* transition: 200ms background-color; */
	}
}

.navLink {
	border-bottom: 2px solid transparent;
	color: var(--text-color);
	font-size: var(--mantine-font-size-sm);
	font-style: italic;
	font-weight: 300;
	padding: 0.5rem 0.5%;
	text-decoration: none;
	white-space: nowrap;
	z-index: 9999;

	&:hover,
	&.active {
		text-decoration: none;
	}

	&:after {
		background-color: transparent;
		content: "";
		display: block;
		height: 2px;
		margin: 0 auto;
		opacity: 0;
	}

	&.active:not(.mobile) {
		&:after {
			background-color: var(--mantine-primary-color-filled);
			opacity: 1;
			width: 100%;
		}
	}

	&:hover:not(.mobile) {
		&:after {
			background-color: var(--mantine-primary-color-3);
			opacity: 1;
			width: 100%;
		}
	}
}

.logo {
	display: flex;
	margin: 1rem 1rem;
	margin-right: 1em;
	width: 3.5rem;
	transition: 200ms width linear;

	&.isPinned {
		width: 6rem;
	}

	&.logoHidden {
		opacity: 0;
	}
}

.mobileNav {
	align-items: stretch;
	background-color: var(--mantine-color-blue-9);
	display: flex;
	height: var(--mobile-nav-height);
	padding: 1.5rem var(--mantine-spacing-xs);
	position: sticky;
	justify-content: space-between;
	top: 0;
	width: 100%;
	z-index: 9999;

	.burger {
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
	}

	.logo {
		display: block;
		height: 100%;
		width: auto;
		margin: 0;

		> * {
			height: 100%;
			width: auto;
		}
	}

	.dropdown {
		background-color: var(--mantine-color-blue-9);
		/* background-image: url("/static/images/leafc-06.svg"); */
		/* background-repeat: no-repeat;
		background-size: 130vw;
		background-position: 0 0; */
		/* box-shadow: 0 0 1rem 1rem var(--mantine-color-blue-9); */
		padding: var(--mantine-spacing-xs);
		position: fixed;
		left: 0;
		top: 0;
	}

	&.isInline {
		background-color: transparent;
		margin-bottom: calc(var(--mobile-nav-height) * -1);
	}

	/* &.isPinned {
		background-color: var(--mantine-color-blue-9);
	} */
}

.dropdownLeaf {
	mix-blend-mode: saturation;
	position: absolute;
	/* right: 0; */
	width: 100vw;
	z-index: 1;
}
