.loaderSpin {
	width: 20vw;
	transform: rotateY(45deg);
	animation: rotateAnimation 2s cubic-bezier(0.87, 0, 0.13, 1) 0s 1 normal
		forwards;
}

@keyframes rotateAnimation {
	from {
		opacity: 0;
		transform: rotateY(0deg);
	}
	to {
		opacity: 1;
		transform: rotateY(-360deg);
	}
}
