.lockup {
	max-width: 100%;
	margin: 0;

	@media screen and (min-width: $mantine-breakpoint-sm) {
		margin: 0 0 var(--mantine-spacing-md) 0;
		width: 30rem;
	}
}

.cornerLeaves {
	bottom: 0;
	min-width: 25rem;
	position: fixed;
	right: -5rem;
	width: 30vw;
	z-index: -1;
}

.homeMobileNav {
	/* top: -var(--mobile-nav-height); */
	@media screen and (min-width: $mantine-breakpoint-sm) {
		display: none;
	}
}
